body {
    font-family: Arial, sans-serif;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 8px;
}

footer {
    font-size: 0.9rem;
}

.row{
    justify-content: space-around
}

.carousel {
    width: 50%;
    margin: 0 auto; /* centra il carousel */
}

.carousel-container img {
    height: auto;
    object-fit: cover;
}